.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.error {
  color: red;
  font-size: 14px;
}

.form input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.form button,
.googleButton,
.closeButton {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.googleButton {
  background: #db4437;
  color: white;
}

.closeButton {
  background: gray;
  color: white;
}

.registerButton {
  background: #4285f4;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
}

.registerButton:hover {
  background: #357ae8;
}
.passwordField {
  position: relative;
}

.passwordField input {
  width: 100%;
  padding: 8px;
  padding-right: 40px;
}

.togglePassword {
  position: absolute;
  max-width: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
