.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 120px;

  align-items: flex-end;
  text-align: end;

  &:nth-child(odd) {
    align-items: flex-start;
    text-align: start;
  }
}

.bigText {
  font-size: 44px;
  font-weight: 800;
}

.smallText {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
}

.accentText {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .cardWrapper {
    gap: 15px;
    max-width: 185px;
  }

  .bigText {
    font-size: 64px;
  }

  .smallText {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .cardWrapper {
    &:nth-child(odd) {
      align-items: flex-end;
      text-align: end;
    }
  }
}
