:root {
  --background-color: #121518;
  --main-color: #46512a;
  --accent-color: #f34a4a;
  --text-color: #f1d3bc;

  --black-transparent-light: rgba(0, 0, 0, 0.3);
  --black-transparent-strong: rgba(0, 0, 0, 0.6);

  --font: 'Quicksand', serif;
}

body {
  margin: 0;
  font-family: 'Quicksand', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  font-style: normal;
}
li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: 'Quicksand', serif;
  letter-spacing: 0.05em;
  background-color: var(--background);
}
