.section {
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.container {
  background-image: url('../../img/home-page-photo-desktop.png');

  background-repeat: no-repeat;
  background-position: center;

  width: 1440px;
  height: 710px;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  gap: 35px;
}

.logo {
  width: 360px;
  height: 75px;

  margin-right: 125px;
  margin-bottom: 350px;
}
